.notesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 5px; */
  row-gap: 5px;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 20px;
  background-color: #cccccc;
  /* border: solid 1px black; */
}

.note .noteName {
  font-size: 30px;
  height: 30px;
  line-height: 120%;
}

.note .noteTop {
  font-size: 8px;
  height: 10px;
  line-height: 170%;
}

.note .noteBottom {
  font-size: 8px;
  height: 10px;
}
